*{
    margin:0;
    padding:0;
}



nav{
    height:10%;
    background-color:rgb(12, 12, 12);
    display:flex;
    color:dodgerblue;

}

nav ul{
    display:flex;
    list-style: none;
    align-items:center;

}
nav li{
    margin:0 2rem 0 1rem;
    text-decoration: none;

}

#nav-logo img{
    height:60px;
    margin:0;
    padding:0;
}

#right-side{
    margin-left:auto;
}

#right-side li{
    margin:0 1em;
    padding:0;
}
.main-picture img{
    width:100%;
}

.main-text{
    margin-top:5rem;
    justify-items: center;
    padding: 0 3em;
    border-bottom:1px black solid;
}
.main-text h2{
    font-size:50px;
    font-style: italic;
    margin-bottom:1rem;
}

.main-text p{
    margin-bottom:1rem;
    font-size:1.5em;
}

#ingredients {
    font-size:small;
}
#products{
    padding-top:2rem;
    text-align:center;
}
#product-container {
    padding:1rem 1rem 0 1rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}

#product-container img{
    height:200px;
    
}

.sales{
    height:200px;
    border:1px solid black;
    background-color:gray;
}