*{
    margin:0;
    padding:0;
}

nav{
    height:10%;
    background-color:rgb(12, 12, 12);
    display:flex;
    color:dodgerblue;

}

nav ul{
    display:flex;
    list-style: none;
    align-items:center;

}
nav li{
    margin:0 2rem 0 1rem;
    text-decoration: none;

}

#nav-logo img{
    height:60px;
    margin:0;
    padding:0;
}

#right-side{
    margin-left:auto;
}

#right-side li{
    margin:0;
    padding:0;
}